@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #121212;
    width: 50%;
    padding: 4rem;
    color: #fff;
    border-radius: 1.5rem;
    margin: 4rem 0;
}

.heading{
    font-size: 1.5rem;
    font-weight: 700;
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
}

.alter{
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.alter button {
    background: none;
    border:none;
    color: green;
    cursor: pointer;
}

.error{
    color: red;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    display: none;
}

.password-warn{
    color: gray;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.inputs{
    background: #3b3b3b3b;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}


.names{
    display: flex;
    justify-content: space-between;
}

.names div{
    width:49%;
}

label{
    font-size: 0.7rem;
    color: grey;
}

.password-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

input,textarea{
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    resize: none;
}

.submit-btn{
    background: green;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border:none
}


.sign-up-page{
    display: none;
}

.edit-profile{
    display: none;
}

.profile-img{
    width: 100%;
    height: 200px;
}

.content{
    margin: 1rem 0;
}

.profile-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-buttons{
    background: green;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border:none
}

.grey-btn{
    background: gray;
}

.grey-btn:hover{
    background: green;
}

.socials{
    display: flex;    
}

.socials a{
    color: #fff;    
    margin: 0 1rem 0 0;
}

.socials i{
    font-size: 1rem;
}

#profile-bio::-webkit-scrollbar {
    width: 0.2rem;
}

#profile-bio::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.644);
}